/* ==========================================================================
   Fonts
   ========================================================================== */

   @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap');

/* ==========================================================================
   Resets
   ========================================================================== */

*{
    margin: 0;
    padding: 0;
}



/* ==========================================================================
   Utility classes
   ========================================================================== */
.container{
    width: 870px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
body{
    background-color: #F3F1FF;
    font-family: 'Poppins', sans-serif;
}
.Section-title{
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}
/* ==========================================================================
   Colors
   ========================================================================== */

:root{
    --primary-color: #562EFF;
}

/* ==========================================================================
   Navbar
   ========================================================================== */
nav{
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
}
nav .logo{
    cursor: pointer;
}
nav .logo img{
    padding: 0.8rem 0;
}
nav .logo span{
    font-size: 24px;
    font-weight: 500;
    color: white;
    margin-left: 0.8rem;
}
nav .main-menu a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 16px;
    margin-right: 36px;
}
nav .main-menu img{
    padding-top: 5px;
    cursor: pointer;
}

/* ==========================================================================
   Header Section-Top Player
   ========================================================================== */
section#top{
    margin-top: 36px;
}
section#top .container{
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
section#top .container .players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 29px;
    padding-top: 40px;
}
section#top .container .player{
    display: flex;
    align-items: center;
    justify-content: center;
}
section#top .container .player img{
    margin-right: 16px;
}
section#top .container .player span{
    font-size: 18px;
    font-size: 500;
}
hr{
    margin:20px 0;
    border-color:#D1D1D1 ;
}

/* ==========================================================================
   Header Section-Top Blog
   ========================================================================== */
section#top .container .blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 31px;
    grid-row-gap: 26px;
    padding-bottom: 10px;
}
section#top .container .blogs .blog {
    cursor: pointer;
}
section#top .container .blogs .blog img{
    margin-right: 1rem;
}
section#top .container .blogs .blog h3{
    font-weight: 500;
    font-size: 20px;
    margin: 6px 0;
    width: 90%;
}
section#top .container .blogs .blog span{
    color: #9F9F9F;
    font-weight: 500;
    font-size: 16px;
}
section#top .container .blogs .blog a{
    font-size: 16px;
    font-weight: 400;
    color: var(--primary-color);
    text-decoration: none;
}
section#top .container .blogs .blog a:hover{
    text-decoration: underline;
}


/* ==========================================================================
   Latest Course
   ========================================================================== */
#latestCourses{
    margin:21px 0 ;
}
#latestCourses .container{
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#latestCourses .container .courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 24px;
    margin-left: 1rem;
}
#latestCourses .container .course{
    width: 252px;
    padding: 10px;
    box-shadow:0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05) ;
    cursor: pointer;
}
#latestCourses .container .course:hover{
    box-shadow:  0 0 2px 0 gray;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#latestCourses .container .course img{
    width: 100%;
}
#latestCourses .container .course h3{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-top: 15px;
}
#latestCourses .container .course span{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #ED6B4F;
    margin:7px 0;
}
#latestCourses .container .course .rating .fa-star{
    color:#FFC014 ;
    font-size: 13px;
}
#latestCourses .container .course .course-duration{
    background-color: #FFE4E8;
    padding:0 10px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
#latestCourses .container .course .course-duration i{
    margin-right:6px;
    color: #FF4A60;
}